@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Recoleta';
}

p {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.hero__main__wrap.stickyHeaderMargin {
    transition: .3s;
    margin-top: 70px;
}

/* .container_wrap {
    padding: 0px 2%;
}

*/
.feature_main__wrap.container_wrap {
    padding: 104px 0;
}

.card__main__wrap.container_wrap {
    padding: 2% 2%;
}

.partner__main__wrap.container_wrap {
    padding: 100px 0;
}

.lookBook__main__area.container_wrap {
    padding: 2% 54px;
}

.lookBook__card__main__wrap.container_wrap {
    padding: 100px 0;
}

.design__main__wrap.container_wrap {
    padding: 100px 0;
    padding-top: 0;
}

.product__main__wrap.container_wrap {
    padding: 0 0;
    padding-bottom: 100px;
}

.testimonial.container_wrap {
    padding: 0 0;
    padding-bottom: 100px;
}

.our__team__main__wrap.container_wrap {
    padding: 4% 2%;
}

.call__to__action__main__wrap.container_wrap {
    padding: 3% 2%;
}




/* ---------------------------------
header css
------------------- */

.header__main__wrap {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 6%);
    z-index: 99999;
    position: fixed;
    width: 100%;
    background-color: #271827 !important;
    top: 0px;
    transition: .3s;
    /* height: 80px; */
}

.header__main__wrap.stickyHeader {
    top: 0px;
    transition: .3s;
    /* height: 80px; */

}

.header__main__wrap .bg-dark {
    background-color: #271827 !important;
    padding: 0 15px;
}

.navbar-dark .navbar-toggler {
    color: rgb(255 255 255);
    border: none;
}

.header__main__wrap .navbar-dark .navbar-nav .nav-link {
    color: #ffffff80;
    padding-right: 1rem;
    padding-left: 1rem;

}

.navbar {
    padding: 0;
}

li.nav-item.active a {
    color: #ca7361 !important;
}

.navbar-dark .navbar-brand img {
    width: 180px;
}

.header__main__wrap a.nav-link {
    padding: 18px 10px;
    position: relative;

}

.header__main__wrap a.nav-link:hover {
    color: #ca7361 !important;
    transition: .5s;
}

.navbar-collapse {
    text-align: center;
}

.header__profile__area a {
    display: inline-block;
    margin-left: 1rem;
}

.btn.navbar-click-hare-btn {
    background-color: #ca7361;
    color: #fff;
    border: none;
}

.navbar-cart .navbar-cart-counter {
    border: 1px solid #6ac800;
    background-color: #6ac800;
    border-radius: 10px;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    width: 10px;
    height: 10px;
    line-height: 7px;
    padding: 1px 2px;
    position: relative;
    top: 2px;
    left: 7px;
}

.navbar-cart img {
    width: 25px;
}

.sr-only {
    white-space: nowrap;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

a.btn.navbar-click-hare-btn:hover {
    background: #fff;
    color: #ca7361;
}

.bg-pink {
    background-color: #ca7361;
}

.bg-blue {
    background-color: #8a97b8;
}

.header__main__wrap .navbar-dark .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'Optima';
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
}

/* ---------------------------------
hero css
------------------- */

.hero__main__wrap {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    margin-top: 8vh;
}

.hero__main__wrap::after {
    content: "";
    background-image: url(../img/hero-right.png);
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.hero__right {
    position: relative;
    height: 100vh;
}

img.hero_right_angle_shap {
    position: absolute;
    left: -30%;
    top: 0%;
    bottom: 0%;
    z-index: 9;
    height: 100%;
}

.hero__left {
    position: relative;
    z-index: 99;
}

.hero__left h2 {
    font-size: 64px;
    line-height: 88px;
    text-transform: lowercase;
}

.hero__left p {
    font-size: 24px;
    line-height: 30px;
    color: #6B7280;
    font-family: 'Lato';
}

.hero_left_button {
    margin-top: 16%;
}

.hero_left_button a {
    display: inline-block;
    background: #CB7562;
    color: #fff;
    width: 186px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    font-weight: 900;
    font-family: 'Lato';
    margin-right: 12px;
}

.hero_left_button a:nth-child(2) {
    background: #859CBA;
}

img.hero_right_main_image {
    display: none;
}

/* ---------------------------------
hero css end
------------------- */

/* ---------------------------------
feature css 
------------------- */
.feature_main__wrap {
    text-align: center;
    padding: 100px 0;
}

.feature__inner__wrap {
    width: 70%;
    margin: auto;
}

.feature_item p {
    font-weight: 900;
    margin-top: 10px;
}

/* ---------------------------------
feature css 
------------------- */
/* ---------------------------------
card css 
------------------- */

.card__main__wrap {
    padding: 80px 0;
    width: 96%;
    margin: 0 auto;
}

.card_image img {
    width: 100%;
    transition: .5s;
}

.card_button {
    text-align: center;
    height: 90px;
    line-height: 90px;
    background: #ddd;
    overflow: hidden;
    z-index: 99;
    position: relative;
}

.card_button a {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
}

.c-button-1 {
    background: #CB7562;
}

.c-button-2 {
    background: #859CBA;
}

.c-button-3 {
    background: #848C7E;
}

.card__single__item {
    overflow: hidden;
}

.card__single__item:hover>a>.card_image>img {
    transform: scale(1.1);
    transition: .5s;
}

/* ---------------------------------
card css 
------------------- */

/* ---------------------------------
partner css 
------------------- */
.partner__main__wrap {

    overflow: hidden;
}

.partner__main__wrap .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner__slider .slick-slide {
    margin: 0 60px;
}

.partner__slider .slick-list {
    margin: 0 -60px;
}

.partner__main__wrap .slick-slide img {
    width: 120px;
}



/* ---------------------------------
partner css 
------------------- */

/* ---------------------------------
lookBook css 
------------------- */
/* .lookBook__main__area {
    padding: 80px 0;
} */

.lookBook__inner_wrap {
    background-image: url(../img/lookbookBg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    /* padding-left: 3%; */
}

.lookBook__content {
    width: 40%;
    padding-left: 54px;
    padding-top: 5%;
    position: relative;
    height: 100%;
}

.lookBook__content h3 {
    font-size: 64px;
    color: #fff;
    line-height: 88px;
}

.lookBook__content p {
    font-size: 24px;
    color: #fff;
    line-height: 29px;
}

.lookBook__btn {
    position: absolute;
    width: 50%;
    bottom: 10%;
}


.lookBook__btn a {
    display: inline-block;
    background: #CB7562;
    color: #fff;
    font-family: Recoleta;
    font-size: 36px;
    font-weight: 700;
    border-radius: 50px;
    width: 330px;
    height: 80px;
    text-align: center;
    line-height: 80px;
}


/* ---------------------------------
lookBook css 
------------------- */

/* ---------------------------------
lookBook__card css 
------------------- */
.mobile_view_lookBook_wrap {
    display: none;
}

.lookBook__card__item.slick-slide.slick-current.slick-active {
    position: relative;
    transform: scale(1);
    transition: .5s;
}

.lookBook__card__item.slick-slide {
    transform: scale(.9);
    transition: .5s;
}

.lookBook__card__main__wrap {
    width: 96%;
    margin: auto;
}

.lookBook__card__item {
    background: #FBF5F1;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    overflow: hidden;
}

.lookBook__card__item img {
    width: 100%;
    border-radius: 3px;
    transition: .5s;
}

.lookBook__card__item a {
    width: 100%;
    height: 100%;
}



.lookBook__card__btn a {
    display: inline-block;
    padding-top: 15px;
    color: #000;
    font-weight: 900;
    font-family: 'Lato';
    font-size: 18px;
}



/* ---------------------------------
lookBook__card css 
------------------- */

/* ---------------------------------
design css 
------------------- */
.design__main__wrap {
    overflow: hidden;
    padding: 80px 0;
}

.design__title {
    text-align: center;
    margin-bottom: 40px;
}

.design__title h4 {
    font-size: 64px;
    line-height: 88px;
}

.design__slider__top__wrap {
    margin-bottom: 40px;
}

.design__slider .slick-slide {
    margin: 0 30px;
}

.design__slider .slick-list {
    margin: 0 -30px;
}



/* ---------------------------------
design css 
------------------- */

/* ---------------------------------
product css 
------------------- */
.product__main__wrap {
    overflow: hidden;
    padding: 100px 0;
}

.product__main__wrap .slick-slide {
    margin: 0 20px;
}

.product__main__wrap .slick-list {
    margin: 0 -20px;
}

.product__single__item {
    text-align: center;
    background: #FBF5F1;
    padding: 15px;
    width: 280px !important;
    height: 324px;
    border-radius: 7px;
}

.product__single__item img {
    width: 241px;
    height: 252px;
    margin: auto;
}

.product__single__item p {
    padding-top: 17px;
    font-family: 'Inter';
    font-weight: 500;
    height: 40px;
}

.product__single__item.product__last__item {
    display: flex;
    align-items: center;
    width: 240px !important;
    height: 240px;
    justify-content: center;
    background: #ddd;
    margin-right: 40px;
    border-radius: 5px;
    margin-top: 42px;
}

.product__see__more__btn a {
    color: #271827;
    font-weight: 700;
    font-size: 24px;
}

/* ---------------------------------
product css 
------------------- */

/* ---------------------------------
testimonial css 
------------------- */
/* =================== */
.testimonial_inner_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial_single_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.testimonial_single_slider:after {
    width: 100%;
    height: 80%;
    content: '';
    position: absolute;
    background: #ddd;
    z-index: -1;
}

.t_s_slider_left {
    width: 29%;
}

.t_s_slider_left img {
    width: 100% !important;
    border-radius: 10px;
    position: relative;
    top: 20px;
}

.t_s_slider_right {
    width: 67%;
    padding-left: 3%;
    text-align: left;
}

.t_s_slider_right img {
    width: 40px !important;
    margin-bottom: 15px;
}

.t_s_slider_right p {
    font-weight: 400;
    font-size: 24px;
    color: #271827;
}

.t_s_right_profile {
    margin-top: 30px;
}

.t_s_right_profile p {
    margin-bottom: 0;
}

/* ---------------------------------
testimonial css 
------------------- */

/* ---------------------------------
We Do css 
------------------- */
.we__do_main__wrap {
    overflow: hidden;
    padding: 80px 0;
    padding-top: 30px;
}

.we__do__top__area {
    text-align: center;
}

.we__do__top__content {
    padding: 2% 10%;
    width: 70%;
    margin: auto;
}

.we__do__top__content h3 {
    font-size: 64px;
}

.we__do__top__content p {
    color: #6B7280;
    font-size: 24px;
    padding: 0px 10%;
    line-height: 29px;
}

.we__do__top__items__wrap {
    width: 70%;
    margin: auto;
    padding: 2% 0;
}

.we__do__top__single__item h6 {
    font-size: 36px;
    line-height: 49px;
    margin-top: 15px;
    color: #111827;
}

.we__do__top__items_btn {
    margin-bottom: 25px;
}

.we__do__top__items_btn a {
    display: inline-block;
    background: #271827;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    margin-top: 5%;
    width: 151px;
    height: 56px;
    line-height: 56px;
}

.we__do__bottom__area {
    padding: 2% 3%;
}

.we__do__bottom__title {
    padding-top: 10%;
    border-bottom: 2px solid #E5E7EB;
}

.we__do__bottom__title h4 {
    font-size: 64px;
    line-height: 88px;
}

.we__do__bottom_accordion {
    padding-top: 3%;
}

.we__do_main__wrap .card {
    border: none;
    border-radius: unset !important;
    position: relative;
}

.we__do_main__wrap .accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
    padding: 10px 0;
    background-color: unset !important;
}

.we__do_main__wrap .btn.btn-link.btn-block.text-left {
    padding: 10px 0;
    color: #271827;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 24px;
}

.we__do_main__wrap .btn.btn-link.btn-block.text-left.collapsed:after {
    content: "";
    position: absolute;
    background-image: url(../img/iconDownArrow.svg);
    right: 15px;
    top: 30px;
    color: #000;
    font-size: 24px;
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s;
}

.we__do_main__wrap .btn.btn-link.btn-block.text-left:after {
    content: "";
    position: absolute;
    background-image: url(../img/iconUpperArrow.svg);
    right: 15px;
    top: 30px;
    color: #000;
    font-size: 24px;
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .5s;
}

.we__do_left_btn a {
    display: inline-block;
    background: #859CBA;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Lato';
    border-radius: 50px;
    margin-top: 30px;
    width: 151px;
    height: 56px;
    line-height: 56px;
    text-align: center;
}

.we__do__bottom__right img {
    width: 100%;
}

.we__do_main__wrap .btn.btn-link.btn-block.text-left:before {
    content: "";
    width: 60%;
    height: 1px;
    background: #E5E7EB;
    position: absolute;
    bottom: 0;
    left: 20%;
}

.we__do_main__wrap .card-header {
    border-bottom: 0 !important;
}

.we__do_main__wrap .card-body {
    padding: 0px 0px 20px 0px;
}

.we__do_main__wrap .card-body p {
    color: #6B7280;
    padding-right: 6%;
    font-style: italic;
    font-size: 24px;
}

/* ---------------------------------
We Do css 
------------------- */

/* ---------------------------------
our team css 
------------------- */
.our__team__main__wrap {
    padding: 80px 0;
}

.our__team__left img {
    width: 100%;
}

.our__team__right {
    background: #E7ECE3;
    height: 100%;
    padding: 6%;
    padding-right: 5%;
    position: relative;
    padding-left: 68px;
}

.our__team__content h4 {
    font-size: 60px;
    line-height: 88px;
    color: #848C7E;
}

.our__team__content p {
    font-size: 24px;
    color: #848C7E;
}

.our__team__btn {
    position: absolute;
    bottom: 57px;
}

.our__team__btn a {
    display: inline-block;
    color: #fff;
    background: #848C7E;
    border-radius: 50px;
    font-weight: 900;
    font-size: 18px;
    width: 186px;
    height: 56px;
    line-height: 56px;
    text-align: center;
}

/* ---------------------------------
our team css 
------------------- */


/* ---------------------------------
call to action css 
------------------- */

.call__to__action__main__wrap {
    padding: 100px 0;
}

.call__to__action_left h4 {
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
}

.call__to__action_left p {
    font-size: 18px;
    font-family: 'Inter';
    line-height: 28px;
    color: #6B7280;
}

.subscribe__area input {
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 7px 5px;
    border-radius: 5px;
    width: 70%;
}

.subscribe__area button {
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 7px 5px;
    border-radius: 5px;
    border: 1px solid #000;
    font-family: 'Inter';
    width: 29%;
}

.subscribe__area p {
    font-size: 14px !important;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 20px;
    margin-top: 8px;
    color: #6B7280;
}

.subscribe__area a {
    font-size: 14px !important;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 20px;
    margin-top: 8px;
    color: #6B7280;
    text-decoration: underline;
}

/* ---------------------------------
call to action css 
------------------- */


/* ---------------------------------
footer css 
------------------- */
.footer__main__area {
    margin-top: 100px;
    text-align: center;
}

.footer__inner__wrap {
    padding: 15px 0;
}

.footer__top__area {
    margin-bottom: 25px;
}

.footer__top__area ul {
    padding-left: 0;
    margin-bottom: 0;
}

.footer__top__area ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
}

.footer__top__area ul li a {
    color: #6B7280;
    font-weight: 700;
}

.footer__social__area {
    margin-bottom: 20px;
}

.footer__copyRight p {
    color: #9CA3AF;
    font-size: 12px;
    padding-bottom: 15px;
    font-weight: 400;
    line-height: 15px;
}

.footer__social__area a {
    display: inline-block;
    margin: 0px 10px;
}

/* ---------------------------------
footer css 
------------------- */